<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h3>Estadísticas</h3>
 
   <p>Número de preguntas: <%= quizes %></p>
   <p>Número de comentarios totales: <%= comentarios %></p>
   <p>Número de medio de comentarios por preguntas: <%= media_comentarios %></p>
   <p>Número de preguntas sin comentarios: <%= sin_comentarios %></p>
   <p>Número de preguntas con comentarios: <%= con_comentarios %></p>
  </body>
</html>  